<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/blog/create">create blog</a> <br>
    <a href="/blog/view">view blog</a>
</body>
</html>