<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <a href="/">Homepage</a> <br>
    <a href="/blog/view">view blog</a>
    <form action="/blog/create" method="post">
        <label for="title">blog title:</label> <br>
        <input type="text" name="title" id="title" required> <br>
        <label for="snippet">blog snippet</label> <br>
        <input type="text" name="snippet" id="snippet" required><br>
        <label for="body">body</label> <br>
        <textarea name="body" id="body" required></textarea>
        <button>Submit</button>
    </form>
</body>
</html>